/* Big tablet to 1200px (widths smaller taht the 1140px row) */
@media only screen and (max-width: 1200px) {

    .row { padding: 0 2%; }
    .para {
        width: 90%;
    }
}


/* Small tablet to big tablet: from 768px to 1023px */
@media only screen and (max-width: 1023px) {
    
    header {
        
        height: 600px;
        width: auto; 
        background-size: auto 600px ;
    }
    
     iframe {
        width: 720px;
        height: 480px;
    }
    
    .ColossalBattlelogo {
        width: 250px;
        margin-left: -125px;
        margin-top: -350px;
    }
    
    .para {
        width: 90%;
    }
}



/* Small phones to small tablets: from 481px to 767px */
@media only screen and (max-width: 767px) {
    section { padding: 30px 0; }
    
   header {
        height: 400px;
        width: auto; 
        background-size: auto 400px ;
    }
    
    .row,
    
    .col { 
        width: 100%;
        margin: 0 0 0 0;
    }
    
    
    h1 { font-size: 180%; }
    h2 { font-size: 150%; }
    
    
    iframe {
        width: 360px;
        height: 240px;
    }
    
    .GNOlogo {
        height: 60px;
    }

    .Discordlogo {
        height: 40px;
    }

    .ColossalBattlelogo {
        width: 250px;
        margin-left: -125px;
        margin-top: -300px;
    }
    
    .watchTrailer  {
        display: block;
        margin-top: -150px;
        margin-left: auto;
        margin-right: auto;
    }
    

    
   .subscribeForm {
        width:320px;
    }

    input[type=email]{
        width: 200px;
    }
    
}


/* Small phones: from 0 to 480px */
@media only screen and (max-width: 480px) {
    
    header {
        background-size: 1500px ;
        background-origin: content-box;
        background-position: top;
        height: 600px;
        width: auto; 
    }
   
    subscribeForm {
        width:320px;
    }

    input[type=email]{
        width: 200px;
    }
    
}

